@page
@model _0bserv.DeleteModel

@{
    ViewData["Title"] = "Cancella";
}

<h1>Cancella</h1>

<h3>Sicuro di cancellare il feed?</h3>
<div>
    <h4>RssFeed</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RssFeed.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RssFeed.Url)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RssFeed.Id" />
        <input type="submit" value="Cancella" class="btn btn-danger" /> |
        <a asp-page="./Index">Torna alla lista</a>
    </form>
</div>
