/* Impostazioni di base */
html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

/* Focus sugli elementi interattivi */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(37, 140, 251, 0.25), 0 0 0 0.3rem rgba(37, 140, 251, 0.5);
}

/* Layout e posizionamento */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Aggiunge spazio inferiore per i footer */
}
