@page
@model ErrorModel
@{
    ViewData["Title"] = "Errore";
}

<h1 class="text-danger">Errore.</h1>
<h2 class="text-danger">Si è verificato un errore durante l'elaborazione della tua richiesta.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID Richiesta:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modalità Sviluppo</h3>
<p>
    Passare alla <strong>modalità Sviluppo</strong> mostra informazioni dettagliate sull'errore che è occorso.
</p>
<p>
    <strong>La modalità Sviluppo non dovrebbe essere abilitata per applicazioni in produzione.</strong>
    Può comportare la visualizzazione di informazioni sensibili dalle eccezioni agli utenti finali.
    Per il debug locale, abilitare la <strong>modalità Sviluppo</strong> impostando la variabile d'ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> su <strong>Sviluppo</strong>
    e riavviare l'applicazione.
</p>
